@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


.mulish-font{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}


/* header */
.header{
    max-width: 85%;
    margin: 0 auto;
}
/* navbar */
.nav-list{
    list-style: none;
}
.nav-item{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    color: #424247;
    /* justify-content: space-evenly; */
}
.navbar-items{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.logo-flex{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem;
}
.nav-title{
    font-size: 2rem;
    font-weight: 800;
    color: #131318;
}
.nav-col{
    color: #FF5400;
}

/* banner part */
.banner{
    background-image: linear-gradient( 180deg, 
    rgba(19,19,24,0.8 ) 0%,
    rgba(19,19,24,0 ) 100% ),
    url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 6rem;
    border-radius: 1rem;
}
.banner-title{
    font-size: 4rem;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-bottom: 1.5rem;
}
.banner-des{
    font-size: 1rem;
    color: white;
    width: 676px;
    text-align: center;
}

.input-items{
    background: rgba(255, 255, 255, 0.349);
    padding: 1rem;
    border-radius: 8px;
    backdrop-filter:blur(2px);
    color: #131318;
    margin-top: 3rem;
}

input, select, .banner-btn{
    width: 165px;
    height: 50px;
    border-radius: 0.5rem;
    border: none;
    margin: 0 1rem;
   
}  
.banner-btn{
    color: white;
    background-color:#FF5400;
    font-weight: 700;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    gap: 6px;
}  


/* main part */
main{
    max-width: 85%;
    margin: 0 auto;
}

/* first section */
.tour-text{
    width: 45%;
}
.tour-image{
    width: 45%;
}
.t-img{
    width: 100%;
}

.tour-flex{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.tour-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(19,19,24, 100%);
    margin-bottom: 1.5rem;
}
.tour-des{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: rgb(19,19,24, 70%);
}
.tour-des-li{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: rgb(19,19,24, 70%);
}
.tour-btn{
    padding: 1rem;
    background-color: #FF5400;
    color: white;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.list{
    padding-left: 1rem;
}

/* Choose destination */
.choose{
    margin: 6rem 0 0;
}
.choose-text{
    width: 643px;
    margin: 0 auto;
    text-align: center;
}
.choose-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
    margin-bottom: 1.5rem;
}
.choose-des{
    font-size: 1rem;
    color: rgb(19,19,24, 70%);
    margin-bottom: 2rem;
}
.country img{
    width: 100%;
    height: 300px;
}
.country-card-1,
.country-card-2,
.country-card-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    gap: 1.5rem;
}
.country-card-2{
    grid-template-columns: 0.85fr 1fr 0.65fr;
}
.country-card-3{
    grid-template-columns: 0.85fr 1.2fr;
}
.country{
    position: relative;
}
.country p{
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}